
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602107768953963268.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602107768953963268.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602107768953963268.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602107768953963268.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602107768953963268.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602107768953963268.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602107768953963268.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602107768953963268.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602107768953963268.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602107768953963268.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602107768953963268.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602107768953963268.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602107768953963268.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602107768953963268.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602107768953963268.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602107768953963268.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-602107768953963268.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602107768953963268.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602107768953963268.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602107768953963268.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602107768953963268.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602107768953963268.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602107768953963268.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602107768953963268.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602107768953963268.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602107768953963268.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602107768953963268.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602107768953963268.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602107768953963268.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602107768953963268.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602107768953963268.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602107768953963268.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602107768953963268.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602107768953963268.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602107768953963268.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602107768953963268.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602107768953963268.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602107768953963268.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-602107768953963268.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-602107768953963268.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602107768953963268.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602107768953963268.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602107768953963268.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602107768953963268.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602107768953963268.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602107768953963268.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602107768953963268.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602107768953963268.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602107768953963268.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602107768953963268.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602107768953963268.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602107768953963268.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602107768953963268.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-602107768953963268.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602107768953963268.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602107768953963268.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602107768953963268.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602107768953963268.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-602107768953963268.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602107768953963268.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602107768953963268.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602107768953963268.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602107768953963268.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-602107768953963268.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602107768953963268.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602107768953963268.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602107768953963268.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-602107768953963268.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602107768953963268.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602107768953963268.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-602107768953963268.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-602107768953963268.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-602107768953963268.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602107768953963268.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602107768953963268.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602107768953963268.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602107768953963268.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602107768953963268.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602107768953963268.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602107768953963268 .gp-relative{position:relative}.gps-602107768953963268 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602107768953963268 .gp-mb-0{margin-bottom:0}.gps-602107768953963268 .gp-inline-block{display:inline-block}.gps-602107768953963268 .gp-flex{display:flex}.gps-602107768953963268 .gp-grid{display:grid}.gps-602107768953963268 .gp-contents{display:contents}.gps-602107768953963268 .\!gp-hidden{display:none!important}.gps-602107768953963268 .gp-hidden{display:none}.gps-602107768953963268 .gp-h-auto{height:auto}.gps-602107768953963268 .gp-h-full{height:100%}.gps-602107768953963268 .gp-w-full{width:100%}.gps-602107768953963268 .gp-max-w-full{max-width:100%}.gps-602107768953963268 .gp-flex-none{flex:none}.gps-602107768953963268 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602107768953963268 .gp-flex-col{flex-direction:column}.gps-602107768953963268 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602107768953963268 .gp-duration-200{transition-duration:.2s}.gps-602107768953963268 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602107768953963268 .tablet\:\!gp-hidden{display:none!important}.gps-602107768953963268 .tablet\:gp-hidden{display:none}.gps-602107768953963268 .tablet\:gp-h-auto{height:auto}.gps-602107768953963268 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-602107768953963268 .mobile\:\!gp-hidden{display:none!important}.gps-602107768953963268 .mobile\:gp-hidden{display:none}.gps-602107768953963268 .mobile\:gp-h-auto{height:auto}.gps-602107768953963268 .mobile\:gp-flex-none{flex:none}}.gps-602107768953963268 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=H4cmBXyAlsPdnlbO9SY5&skey=92624971dae6a2d2&v=v35) format('woff');
}
/* khmer */
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/angkor/v35/H4cmBXyAlsPdnlbO_iY_wrmwgp63.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/angkor/v35/H4cmBXyAlsPdnlbO9SY_wrmwgg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9_Vit3Dvs"}' data-id="g9_Vit3Dvs" id="g9_Vit3Dvs" data-same-height-subgrid-container class="g9_Vit3Dvs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:100px;--pl:20px;--pb:100px;--pr:20px;--pt-mobile:25px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g01rhfqiBG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzfDc97kzB"
        class="gzfDc97kzB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:0px;--pr:32px;--mt-mobile:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:48px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Angkor, 'Angkor'), var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:39px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzfDc97kzB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQgDUHbQpO"}' data-id="gQgDUHbQpO" id="gQgDUHbQpO" data-same-height-subgrid-container class="gQgDUHbQpO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:0"
      class="gTgmL0sxgz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gv4RoL6HkF"}' data-id="gv4RoL6HkF" id="gv4RoL6HkF" data-same-height-subgrid-container class="gv4RoL6HkF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pr:32px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g71Aq9KvIt gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRyACPfxeX"
        class="gRyACPfxeX"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:42px;--mb-tablet:48px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:40px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRyACPfxeX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsh6r-Gqu-"}' data-id="gsh6r-Gqu-" id="gsh6r-Gqu-" data-same-height-subgrid-container class="gsh6r-Gqu- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:24px;--pb:24px;--pr:0px;--mt-mobile:42px;--pt-mobile:21px;--pb-mobile:21px;--cg:44px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gx7L4qoPQz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx1UGGvQGS"
        class="gx1UGGvQGS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx1UGGvQGS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gx1UGGvQGS">
        .gx1UGGvQGS {

}
.gx1UGGvQGS p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gID5Y9aRD5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGM6pPQpNW"
        class="gGM6pPQpNW"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGM6pPQpNW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gGM6pPQpNW">
        .gGM6pPQpNW {

}
.gGM6pPQpNW p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOvuqJaQIW"}' data-id="gOvuqJaQIW" id="gOvuqJaQIW" data-same-height-subgrid-container class="gOvuqJaQIW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pb:24px;--pr:0px;--pt-mobile:21px;--pb-mobile:21px;--cg:44px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gy0ADtxRvh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOg0b8z2dK"
        class="gOg0b8z2dK"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOg0b8z2dK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gOg0b8z2dK">
        .gOg0b8z2dK {

}
.gOg0b8z2dK p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gUIMKiCjNj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMdBffMwEF"
        class="gMdBffMwEF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMdBffMwEF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gMdBffMwEF">
        .gMdBffMwEF {

}
.gMdBffMwEF p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5rvU9GiHg"}' data-id="g5rvU9GiHg" id="g5rvU9GiHg" data-same-height-subgrid-container class="g5rvU9GiHg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:24px;--pb:24px;--pr:0px;--mb-mobile:21px;--pt-mobile:21px;--pb-mobile:21px;--cg:44px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gvUpFPTSvy gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHgH9KeMUS"
        class="gHgH9KeMUS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHgH9KeMUS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHgH9KeMUS">
        .gHgH9KeMUS {

}
.gHgH9KeMUS p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gPWQTXjlyg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gblu38htXT"
        class="gblu38htXT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggblu38htXT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gblu38htXT">
        .gblu38htXT {

}
.gblu38htXT p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:1"
      class="g241rhnI3B gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gAsa_N0iJa"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1778983675248 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gAsa_N0iJa"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggAsa_N0iJa_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggAsa_N0iJa_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzkwIiBoZWlnaHQ9IjEyNDUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTc5MC0xMjQ1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3OTAiIGhlaWdodD0iMTI0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzkwIiBoZWlnaHQ9IjEyNDUiIGZpbGw9InVybCgjZy03OTAtMTI0NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTc5MCIgdG89Ijc5MCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ section.settings.ggAsa_N0iJa_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzkwIiBoZWlnaHQ9IjEyNDUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTc5MC0xMjQ1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3OTAiIGhlaWdodD0iMTI0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzkwIiBoZWlnaHQ9IjEyNDUiIGZpbGw9InVybCgjZy03OTAtMTI0NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTc5MCIgdG89Ijc5MCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ section.settings.ggAsa_N0iJa_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-602107768953963268 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fic14k-pn/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=602107768836457220&sectionId=602107768953963268)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzfDc97kzB_text","label":"ggzfDc97kzB_text","default":"Stronger Body. Better You."},{"type":"html","id":"ggRyACPfxeX_text","label":"ggRyACPfxeX_text","default":"Quick &amp; Easy"},{"type":"html","id":"ggx1UGGvQGS_text","label":"ggx1UGGvQGS_text","default":"<p>97%</p>"},{"type":"html","id":"ggGM6pPQpNW_text","label":"ggGM6pPQpNW_text","default":"<p>loved how easy it is to install</p>"},{"type":"html","id":"ggOg0b8z2dK_text","label":"ggOg0b8z2dK_text","default":"<p>94%</p>"},{"type":"html","id":"ggMdBffMwEF_text","label":"ggMdBffMwEF_text","default":"<p>said their space felt cleaner</p>"},{"type":"html","id":"ggHgH9KeMUS_text","label":"ggHgH9KeMUS_text","default":"<p>92%</p>"},{"type":"html","id":"ggblu38htXT_text","label":"ggblu38htXT_text","default":"<p>said they wish they bought this earlier.</p>"},{"type":"html","id":"ggAsa_N0iJa_srcSet_desktop_src","label":"ggAsa_N0iJa_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0809/4744/6010/files/colors_224ce0d3-4ae9-48af-9bfe-b95e47031e52.jpg"},{"type":"html","id":"ggAsa_N0iJa_srcSet_mobile_src","label":"ggAsa_N0iJa_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0809/4744/6010/files/ChatGPT_Image_May_25_2025_10_41_45_PM.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}