
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602107768853365508.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602107768853365508.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602107768853365508.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602107768853365508.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602107768853365508.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602107768853365508.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602107768853365508.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602107768853365508.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602107768853365508.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602107768853365508.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602107768853365508.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602107768853365508.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602107768853365508.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602107768853365508.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602107768853365508.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602107768853365508.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-602107768853365508.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602107768853365508.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602107768853365508.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602107768853365508.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602107768853365508.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602107768853365508.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602107768853365508.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602107768853365508.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602107768853365508.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602107768853365508.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602107768853365508.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602107768853365508.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602107768853365508.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602107768853365508.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602107768853365508.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602107768853365508.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602107768853365508.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602107768853365508.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602107768853365508.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602107768853365508.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602107768853365508.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-602107768853365508.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602107768853365508.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-602107768853365508.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-602107768853365508.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602107768853365508.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602107768853365508.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602107768853365508.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602107768853365508.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602107768853365508.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602107768853365508.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602107768853365508.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602107768853365508.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602107768853365508.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602107768853365508.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-602107768853365508.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602107768853365508.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602107768853365508.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602107768853365508.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-602107768853365508.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-602107768853365508.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602107768853365508.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602107768853365508.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602107768853365508.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602107768853365508.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-602107768853365508.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602107768853365508.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602107768853365508.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602107768853365508.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602107768853365508.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602107768853365508.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-602107768853365508.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-602107768853365508.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-602107768853365508.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-602107768853365508.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-602107768853365508.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-602107768853365508.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602107768853365508.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602107768853365508.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602107768853365508.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602107768853365508.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602107768853365508.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-602107768853365508.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-602107768853365508.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-602107768853365508.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-602107768853365508.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602107768853365508.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602107768853365508.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602107768853365508.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602107768853365508.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602107768853365508.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602107768853365508 .gp-relative{position:relative}.gps-602107768853365508 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602107768853365508 .gp-mb-0{margin-bottom:0}.gps-602107768853365508 .gp-inline-block{display:inline-block}.gps-602107768853365508 .gp-flex{display:flex}.gps-602107768853365508 .gp-inline-flex{display:inline-flex}.gps-602107768853365508 .gp-grid{display:grid}.gps-602107768853365508 .gp-contents{display:contents}.gps-602107768853365508 .\!gp-hidden{display:none!important}.gps-602107768853365508 .gp-hidden{display:none}.gps-602107768853365508 .gp-h-auto{height:auto}.gps-602107768853365508 .gp-h-full{height:100%}.gps-602107768853365508 .gp-w-full{width:100%}.gps-602107768853365508 .gp-max-w-full{max-width:100%}.gps-602107768853365508 .gp-flex-none{flex:none}.gps-602107768853365508 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602107768853365508 .gp-flex-col{flex-direction:column}.gps-602107768853365508 .gp-items-center{align-items:center}.gps-602107768853365508 .gp-justify-center{justify-content:center}.gps-602107768853365508 .gp-overflow-hidden{overflow:hidden}.gps-602107768853365508 .gp-break-words{overflow-wrap:break-word}.gps-602107768853365508 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-602107768853365508 .gp-no-underline{text-decoration-line:none}.gps-602107768853365508 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602107768853365508 .gp-duration-200{transition-duration:.2s}.gps-602107768853365508 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602107768853365508 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-602107768853365508 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-602107768853365508 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-602107768853365508 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-602107768853365508 .tablet\:\!gp-hidden{display:none!important}.gps-602107768853365508 .tablet\:gp-hidden{display:none}.gps-602107768853365508 .tablet\:gp-h-auto{height:auto}.gps-602107768853365508 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-602107768853365508 .mobile\:\!gp-hidden{display:none!important}.gps-602107768853365508 .mobile\:gp-hidden{display:none}.gps-602107768853365508 .mobile\:gp-h-auto{height:auto}.gps-602107768853365508 .mobile\:gp-flex-none{flex:none}}.gps-602107768853365508 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-602107768853365508 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=H4cmBXyAlsPdnlbO9SY5&skey=92624971dae6a2d2&v=v35) format('woff');
}
/* khmer */
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/angkor/v35/H4cmBXyAlsPdnlbO_iY_wrmwgp63.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/angkor/v35/H4cmBXyAlsPdnlbO9SY_wrmwgg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E8E1D5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#E8E1D5","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g44iPFnjwW"}' data-id="g44iPFnjwW" id="g44iPFnjwW" data-same-height-subgrid-container class="g44iPFnjwW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:100px;--pl:20px;--pb:100px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#E8E1D5;--bgc-mobile:#E8E1D5;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glxif2fUpA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJwgGTD2vz"}' data-id="gJwgGTD2vz" id="gJwgGTD2vz" data-same-height-subgrid-container class="gJwgGTD2vz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gH-bMuHbm4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gvTFMaEsKp"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1778983675210 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gvTFMaEsKp"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggvTFMaEsKp_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggvTFMaEsKp_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTgwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggvTFMaEsKp_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTgwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggvTFMaEsKp_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gwSoap7mwO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHnp2AyTB0"}' data-id="gHnp2AyTB0" id="gHnp2AyTB0" data-same-height-subgrid-container class="gHnp2AyTB0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:32px;--mb-mobile:0px;--pl-mobile:0px;--pl-tablet:16px;--cg:8px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6V5EaI68p gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9RkGJHytn"
        class="g9RkGJHytn"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mt-mobile:29px;--mb-mobile:14px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Angkor, 'Angkor'), var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9RkGJHytn_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKEPMs4-sF"
        class="gKEPMs4-sF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:0px;--mb-mobile:28px;--mb-tablet:48px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKEPMs4-sF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gKEPMs4-sF">
        .gKEPMs4-sF {

}
.gKEPMs4-sF p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMnRKQreWQ"}' data-id="gMnRKQreWQ" id="gMnRKQreWQ" data-same-height-subgrid-container class="gMnRKQreWQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:48px;--cg-tablet:30px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gF5FGiDpZ5 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"/products/vibracore-vibration-plate","selectedTab":"products","target":"_self","title":"VibraCore Vibration Plate"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gZbEW6vi5X"].gp-button-base::before, [data-id="gZbEW6vi5X-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gZbEW6vi5X"]:hover::before, [data-id="gZbEW6vi5X-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gZbEW6vi5X" dataId="gZbEW6vi5X" data-state="idle" aria-label="Buy It Now"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/vibracore-vibration-plate" target="_self" type="button"
          style="--w:278px;--w-tablet:278px;--w-mobile:100%;--h:49px;--h-tablet:49px;--h-mobile:42px;--pl:auto;--pr:auto;--pt:auto;--pb:auto;--pl-mobile:auto;--pr-mobile:auto;--pt-mobile:auto;--pb-mobile:auto;--shadow:none;--bgi:;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
          class="gZbEW6vi5X gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggZbEW6vi5X_label | downcase }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gZbEW6vi5X">
        button.gZbEW6vi5X {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--d:none;--d-tablet:none;--d-mobile:none"
      class="gPEuCh7A6q gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-602107768853365508 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fic14k-pn/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=602107768836457220&sectionId=602107768853365508)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvTFMaEsKp_srcSet_desktop_src","label":"ggvTFMaEsKp_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0809/4744/6010/files/Others_5.png"},{"type":"html","id":"ggvTFMaEsKp_srcSet_mobile_src","label":"ggvTFMaEsKp_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0809/4744/6010/files/ChatGPT_Image_May_25_2025_10_45_29_PM.png"},{"type":"html","id":"gg9RkGJHytn_text","label":"gg9RkGJHytn_text","default":"<strong>Upgrade Your Space. Upgrade How You Feel.</strong>"},{"type":"html","id":"ggKEPMs4-sF_text","label":"ggKEPMs4-sF_text","default":"<p>Turn your home into a place that supports focus, movement, and daily wellness.<br>A smarter routine starts with a smarter setup.</p>"},{"type":"html","id":"ggZbEW6vi5X_label","label":"ggZbEW6vi5X_label","default":"Buy It Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}