
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602107768853431044.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602107768853431044.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602107768853431044.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602107768853431044.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602107768853431044.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602107768853431044.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602107768853431044.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602107768853431044.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602107768853431044.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602107768853431044.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602107768853431044.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602107768853431044.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-602107768853431044.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602107768853431044.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602107768853431044.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602107768853431044.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602107768853431044.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602107768853431044.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602107768853431044.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602107768853431044.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602107768853431044.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602107768853431044.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602107768853431044.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602107768853431044.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602107768853431044.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602107768853431044.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602107768853431044.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602107768853431044.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602107768853431044.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602107768853431044.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602107768853431044.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602107768853431044.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602107768853431044.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602107768853431044.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602107768853431044.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602107768853431044.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-602107768853431044.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602107768853431044.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-602107768853431044.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-602107768853431044.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602107768853431044.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602107768853431044.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602107768853431044.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602107768853431044.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602107768853431044.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602107768853431044.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602107768853431044.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602107768853431044.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602107768853431044.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602107768853431044.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-602107768853431044.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602107768853431044.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602107768853431044.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602107768853431044.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-602107768853431044.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-602107768853431044.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602107768853431044.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602107768853431044.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602107768853431044.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602107768853431044.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602107768853431044.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602107768853431044.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-602107768853431044.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-602107768853431044.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602107768853431044.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602107768853431044.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602107768853431044.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602107768853431044.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602107768853431044.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602107768853431044.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602107768853431044.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602107768853431044.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602107768853431044.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602107768853431044.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602107768853431044 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-602107768853431044 .gp-relative{position:relative}.gps-602107768853431044 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602107768853431044 .gp-mb-0{margin-bottom:0}.gps-602107768853431044 .gp-block{display:block}.gps-602107768853431044 .gp-inline-block{display:inline-block}.gps-602107768853431044 .gp-flex{display:flex}.gps-602107768853431044 .gp-inline-flex{display:inline-flex}.gps-602107768853431044 .gp-grid{display:grid}.gps-602107768853431044 .gp-contents{display:contents}.gps-602107768853431044 .\!gp-hidden{display:none!important}.gps-602107768853431044 .gp-hidden{display:none}.gps-602107768853431044 .gp-h-auto{height:auto}.gps-602107768853431044 .gp-h-full{height:100%}.gps-602107768853431044 .gp-w-full{width:100%}.gps-602107768853431044 .gp-max-w-full{max-width:100%}.gps-602107768853431044 .gp-flex-none{flex:none}.gps-602107768853431044 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602107768853431044 .gp-flex-col{flex-direction:column}.gps-602107768853431044 .gp-items-center{align-items:center}.gps-602107768853431044 .gp-justify-start{justify-content:flex-start}.gps-602107768853431044 .gp-justify-center{justify-content:center}.gps-602107768853431044 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602107768853431044 .gp-duration-200{transition-duration:.2s}.gps-602107768853431044 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602107768853431044 .tablet\:gp-block{display:block}.gps-602107768853431044 .tablet\:\!gp-hidden{display:none!important}.gps-602107768853431044 .tablet\:gp-hidden{display:none}.gps-602107768853431044 .tablet\:gp-h-auto{height:auto}.gps-602107768853431044 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-602107768853431044 .mobile\:gp-block{display:block}.gps-602107768853431044 .mobile\:\!gp-hidden{display:none!important}.gps-602107768853431044 .mobile\:gp-hidden{display:none}.gps-602107768853431044 .mobile\:gp-h-auto{height:auto}.gps-602107768853431044 .mobile\:gp-flex-none{flex:none}}.gps-602107768853431044 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=j8_r6-DH1bjoc-dwi-3UFg&skey=fc252ad57fb072ab&v=v22) format('woff');
}
/* latin */
@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adamina/v22/j8_r6-DH1bjoc-dwi-3UEBt7Fns.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gThosy3KKY"}' data-id="gThosy3KKY" id="gThosy3KKY" data-same-height-subgrid-container class="gThosy3KKY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:32px;--pr:15px;--pt-mobile:42px;--pl-mobile:15px;--pb-mobile:16px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtHlgOr7xB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWdqm6vlrS"}' data-id="gWdqm6vlrS" id="gWdqm6vlrS" data-same-height-subgrid-container class="gWdqm6vlrS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:28px;--cg:32px;--gtc:minmax(0, 12fr);--w:970px;--w-tablet:970px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdy0oFrJOJ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px" class="gBx7lze44W ">
      
    <div data-id="gBx7lze44W" class="gp-flex gp-justify-start">
      <div style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--w:100px;--w-tablet:100px;--w-mobile:100px"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--w:100px;--w-tablet:100px;--w-mobile:100px"></div>
      </div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gr177sqyHC"}' data-id="gr177sqyHC" id="gr177sqyHC" data-same-height-subgrid-container class="gr177sqyHC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:970px;--w-tablet:970px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6xOimRnvB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6FAFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4BVSXR2Jt"}' data-id="g4BVSXR2Jt" id="g4BVSXR2Jt" data-same-height-subgrid-container class="g4BVSXR2Jt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#164C8C;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:32px;--pt:32px;--pl:24px;--pb:16px;--pr:24px;--mb-mobile:28px;--pt-mobile:28px;--pl-mobile:21px;--pb-mobile:14px;--pr-mobile:21px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#F6FAFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcx-TfHi9D gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZefatxch5"}' data-id="gZefatxch5" id="gZefatxch5" data-same-height-subgrid-container class="gZefatxch5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:24px;--cg-mobile:21px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfPiTAZrxG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gaw33DU_1p"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1778983675205 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaw33DU_1p"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggaw33DU_1p_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggaw33DU_1p_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggaw33DU_1p_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTQwLTE0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0idXJsKCNnLTE0MC0xNDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNDAiIHRvPSIxNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggaw33DU_1p_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gaAOKZ09Vu gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUPO_EINuY"
        class="gUPO_EINuY"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUPO_EINuY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwZbmsQlDf"
        class="gwZbmsQlDf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwZbmsQlDf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gaxwklVkHB gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-602107768853431044 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fic14k-pn/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=602107768836457220&sectionId=602107768853431044)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaw33DU_1p_srcSet_desktop_src","label":"ggaw33DU_1p_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0809/4744/6010/files/guaranteed.png"},{"type":"html","id":"ggUPO_EINuY_text","label":"ggUPO_EINuY_text","default":"<p>&nbsp;60 Day Money-Back Guarantee</p>"},{"type":"html","id":"ggwZbmsQlDf_text","label":"ggwZbmsQlDf_text","default":"<p>If you’re not completely satisfied with your dog’s results—<strong>for any reason</strong>—just reach out within <strong>60 days of your purchase</strong>, and we’ll issue a <strong>full refund</strong>. No questions, no hassle, no stress. Your peace of mind is our promise.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}